body{
	background-color: #999999;
	margin-top: 10px;
}

.main{
	background-color: #7A7A7A;
	color: #444444;
	text-align: center;
	border-radius: 10px;
	box-shadow: 10px 10px 5px black;
}

.navbar-content{
	background-color: #999999;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

li{
	list-style: none;
	display: inline;
}

li>a{
	color: #222222;
}

.active{
	font-size: 18px;
	background-color: #aaaaaa;
}

.hover{
	background-color: #999999;
}

li:hover{
	background-color: #666666;
}

li>a:hover{
	color: #dddddd;
	text-decoration: none;
	text-align: left;
}

.content-main{
	display: block;
	background-color: #888888;
	width: 50%;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}

@media screen and (min-width: 175px) and (max-width: 780px){
	body{
		background-color: #999999;
		margin-left: 10px;
		margin-right: 10px;
	}

	.main{
		background-color: #7A7A7A;
		color: #444444;
		text-align: center;
		border-radius: 10px;
		box-shadow: 10px 10px 5px black;
	}

	.navbar-content{
		background-color: #999999;
		border-radius: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	li{
		list-style: none;
		display: block;
	}

	li>a{
		color: #222222;
	}

	.active{
		font-size: 18px;
		background-color: #aaaaaa;
	}

	.hover{
		background-color: #999999;
	}

	.hover:hover{
		background-color: #666666;
	}

	li>a:hover{
		color: #dddddd;
		text-decoration: none;
		text-align: left;
	}

	.content-main{
		display: block;
		background-color: #888888;
		width: 50%;
		border-radius: 10px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 25px;
	}
}




